//Imported
@import "./Reset.scss";

//Imported Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

//Fonts
$roboto: "Roboto", serif;
$open-sans: "Open Sans", serif;
$comfortaa: "Comfortaa", serif;

//Colors
$whiteColor1: #ffffff;
$whiteColor2: #eaeaea;
$whiteColor3: #b2b2b2;

$pinkColor: #fb9cb2;

$blueColor1: #6b728e;
$blueColor2: #50577a;
$blueColor3: #474e68;
$blueColor4: #404258;

$redColor1: #e23e57;
$redColor2: #88304e;
$redColor3: #522546;
$redColor4: #311d3f;

@mixin center {
  display: flex;
  align-items: center; //horizontal
  justify-content: center; //vertical
}
